components/reporters/xml/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="report">
        <xs:attribute name="version" type="xs:string"/>
        <xs:attribute name="start_datetime" type="xs:dateTime"/>
        <xs:attribute name="finish_datetime" type="xs:dateTime"/>
        <xs:attribute name="sitemap" type="sitemap"/>
        <xs:attribute name="options" type="xs:string"/>
        <xs:attribute name="issues" type="issues"/>
        <xs:attribute name="plugins" type="plugins"/>
    </xs:complexType>

    <xs:complexType name="sitemap">
        <xs:sequence>
            <xs:element name="sitemapentry" type="sitemapentry"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sitemapentry">
        <xs:attribute name="code" type="xs:integer"/>
        <xs:attribute name="url" type="xs:anyURI"/>
    </xs:complexType>

    <xs:complexType name="issues">
        <xs:sequence>
            <xs:element name="issue" type="issue"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        Holds generic information about the logged issue, while providing
        details as "issuevariations" via the "variations" attribute.
    -->
    <xs:complexType name="issue">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="remedy_guidance" type="xs:string"/>
        <xs:attribute name="remedy_code" type="xs:string"/>
        <xs:attribute name="severity" type="severity"/>
        <xs:attribute name="references" type="references"/>
        <xs:attribute name="cwe" type="xs:integer"/>
        <xs:attribute name="vector" type="vector"/>
        <xs:attribute name="digest" type="xs:integer"/>
        <xs:attribute name="variations" type="issuevariations"/>
    </xs:complexType>

    <!--
        Issues have 1 or more variations.
        Currently, active checks only have 1 variation while passive ones
        can have multiple.
    -->
    <xs:complexType name="issuevariations">
        <xs:sequence>
            <xs:element name="variation" type="issuevariation"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        Input vector information, in essence, the element affected
        by the logged issue.

        The data therein are the original, non-fuzzed ones.
    -->
    <xs:complexType name="vector">
        <xs:attribute name="class" type="vectorclass"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="url" type="xs:string"/>

        <xs:sequence>
            <xs:element name="action" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="method" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>

            <!-- Vulnerable input. -->
            <xs:element name="affected_input_name" type="xs:string"
                        minOccurs="0" maxOccurs="1"/>

            <xs:element name="inputs" type="inputs" minOccurs="0"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        Details about the logged issue, each variation represents a
        situation where the same issue has been identified albeit in
        different ways.
    -->
    <xs:complexType name="issuevariation">
        <xs:attribute name="variationvector" type="variationvector"/>
        <xs:attribute name="page" type="page"/>
        <xs:attribute name="referring_page" type="page"/>
        <xs:attribute name="signature" type="xs:string"/>
        <xs:attribute name="proof" type="xs:string"/>
        <xs:attribute name="trusted" type="xs:boolean"/>
        <xs:attribute name="remarks" type="remarks"/>
        <xs:attribute name="platform_type" type="xs:string"/>
        <xs:attribute name="platform_name" type="xs:string"/>
        <xs:attribute name="response" type="xs:string"/>
        <xs:attribute name="request" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="response">
        <xs:attribute name="url" type="xs:string"/>
        <xs:attribute name="code" type="xs:integer"/>
        <xs:attribute name="ip_address" type="xs:string"/>
        <xs:attribute name="headers" type="inputs"/>
        <xs:attribute name="body" type="xs:string"/>
        <xs:attribute name="time" type="xs:decimal"/>
        <xs:attribute name="curl_code" type="xs:string"/>
        <xs:attribute name="curl_message" type="xs:string"/>
        <xs:attribute name="raw" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="request">
        <xs:attribute name="url" type="xs:string"/>
        <xs:attribute name="method" type="xs:string"/>
        <xs:attribute name="parameters" type="inputs"/>
        <xs:attribute name="body" type="xs:string"/>
        <xs:attribute name="headers" type="inputs"/>
        <xs:attribute name="raw" type="xs:string"/>
    </xs:complexType>

    <!--
        System components can attach remarks on issues, usually to explain
        why an issue have been flagged as untrusted.
    -->
    <xs:complexType name="remarks">
        <xs:attribute name="commenter" type="xs:string"/>
        <xs:sequence>
            <xs:element name="remarks" type="xs:string"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        This is details on the state of the logged vector when
        an "issuevariation" was identified.

        Merged with "vector" it forms the full vector mutations.
    -->
    <xs:complexType name="variationvector">
        <xs:sequence>
            <xs:element name="method" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="affected_input_value" type="xs:string"
                        minOccurs="0" maxOccurs="1"/>

            <xs:element name="seed" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>

            <xs:element name="inputs" type="inputs" minOccurs="0"
                        maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="page">
        <xs:attribute name="body" type="xs:string"/>
        <xs:attribute name="dom" type="pagedom"/>
    </xs:complexType>

    <xs:complexType name="pagedom">
        <xs:attribute name="url" type="xs:anyURI"/>
        <xs:attribute name="transitions" type="transitions"/>
        <xs:attribute name="data_flow_sinks" type="data_flow_sinks"/>
        <xs:attribute name="execution_flow_sinks"
                      type="execution_flow_sinks"/>
    </xs:complexType>

    <xs:complexType name="transitions">
        <xs:sequence>
            <xs:element name="transition" type="transition"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="transition">
        <xs:attribute name="element" type="xs:string"/>
        <xs:attribute name="event" type="xs:string"/>
        <xs:attribute name="time" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="data_flow_sinks">
        <xs:sequence>
            <xs:element name="data_flow_sink" type="data_flow_sink"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="data_flow_sink">
        <xs:attribute name="function" type="function"/>
        <xs:attribute name="object" type="xs:string"/>
        <xs:attribute name="tainted_argument_index" type="xs:decimal"/>
        <xs:attribute name="tainted_value" type="xs:string"/>
        <xs:attribute name="taint" type="xs:string"/>
        <xs:attribute name="trace" type="trace"/>
    </xs:complexType>

    <xs:complexType name="execution_flow_sinks">
        <xs:sequence>
            <xs:element name="execution_flow_sink"
                        type="execution_flow_sink"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="execution_flow_sink">
        <xs:attribute name="trace" type="trace"/>
    </xs:complexType>

    <xs:complexType name="function">
        <xs:attribute name="source" type="xs:string"/>
        <xs:attribute name="arguments" type="functionarguments"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="functionarguments">
        <xs:sequence>
            <xs:element name="argument" type="xs:string"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="trace">
        <xs:sequence>
            <xs:element name="item" type="traceitem"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceitem">
        <xs:attribute name="function" type="function"/>
        <xs:attribute name="line" type="xs:integer"/>
        <xs:attribute name="url" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="inputs">
        <xs:sequence>
            <xs:element name="input" type="input"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="input">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:simpleType name="vectorclass">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Arachni::Element::Body" />
            <xs:enumeration value="Arachni::Element::Server" />
            <xs:enumeration value="Arachni::Element::Path" />
            <xs:enumeration value="Arachni::Element::Form" />
            <xs:enumeration value="Arachni::Element::Form::DOM" />
            <xs:enumeration value="Arachni::Element::Link" />
            <xs:enumeration value="Arachni::Element::Link::DOM"/>
            <xs:enumeration value="Arachni::Element::Cookie" />
            <xs:enumeration value="Arachni::Element::Cookie::DOM" />
            <xs:enumeration value="Arachni::Element::Header" />
            <xs:enumeration value="Arachni::Element::LinkTemplate" />
            <xs:enumeration value="Arachni::Element::LinkTemplate::DOM"/>
            <xs:enumeration value="Arachni::Element::GenericDOM" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="severity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="high" />
            <xs:enumeration value="medium" />
            <xs:enumeration value="low" />
            <xs:enumeration value="informational"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="references">
        <xs:sequence>
            <xs:element name="reference" type="reference"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reference">
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="url" type="xs:anyURI"/>
    </xs:complexType>

</xs:schema>
